.mouse-pointer {
  cursor: pointer
}

.table-data {
    text-align: center;
  margin: 20px;
}

@media screen and (max-width: 600px) {

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 20px;
    width: auto;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

