.mouse-pointer {
  cursor: pointer
}

.table-data {
    text-align: center;
    margin: 20px;
}

.app-filter-field {
  display: flex;
  align-items: center;
  padding: 10px;

  &__label {
    font-family: sans-serif;
    font-weight: bold;
  }

  &__search {
    margin: 20px;
    width: 20%;
    border-radius: 10px;
  }
}
.no-botton {
  width: 100px;
  border: solid #dc3545;
  border-radius: 6px;
}
.title {
  position: relative;
  top: -26px;
}

@media screen and (max-width: 600px) {

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 20px;
    width: auto;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .app-filter-field {
    &__search {
      margin: 20px;
      width: auto;
      border-radius: 10px;
    }
  }
}

