<table class="table">
  <thead class="text-center">
  <tr>
    <th>Row number</th>
    <th>Name</th>
    <th [appSort]="profiles"
        class="mouse-pointer sort-by"
        data-order="desc"
        data-name="birthday">
      Age
    </th>
    <th>Gerder</th>
    <th>Phone Number</th>
    <th>Personal ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of profiles; let i = index" class="text-center">
    <td data-label="Row number">{{i + 1}}</td>
    <td data-label="Name">{{item.name}} {{item.surname}}</td>
    <td data-label="Gender">{{getDate(item.birthday)}}</td>
    <td data-label="Row number">{{item.gender}}</td>
    <td data-label="Phone Number"><a href="tel: {{item.phoneNumber}} ">{{item.phoneNumber}}</a></td>
    <td data-label="Personal ID">{{item.personalId}}</td>

    <td>
      <button class="btn btn-outline-primary m-2" (click)="editProfileData(item.personalId)">Edit</button>
      <button class="btn btn-outline-danger" (click)="deteleTableItem(item.name, i)"> Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-danger m-4" (click)="deleteAll()">Erase data</button>

