<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th [appSort]="profiles" data-order="desc" data-name="birthday" scope="col">Age</th>
    <th scope="col">Gerder</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Personal ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of profiles">
    <th>{{item.name}} {{item.surname}}</th>
        <td>{{getDate(item.birthday)}}</td>
        <td>{{item.gender}}</td>
        <td><a href="tel: +{{item.phoneNumber}} ">{{item.phoneNumber}}</a></td>
        <td>{{item.personalId}}</td>

    <td>
      <button class="btn btn-outline-primary mr-2"><a href="edit"></a> Edit</button>
      <button class="btn btn-outline-danger mr-2" (click)="clickMethod('name')"> Delete</button>
    </td>
  </tr>
  </tbody>
</table>
