@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

.app-user-form {
  margin: 0;
  padding: 0;

  &__container {
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
  }
}
