@import 'src/app/scssVariable/variable';

form {
  position: absolute;
  text-align: center;
  background: $white;
  width: 310px;
  height: 393px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 $darkGrey;
  box-sizing: border-box;
}

h3 {
  font-size: 35px;
  text-transform: uppercase;
  color: $darkBrown;
  margin-bottom: 30px;
}

.form-btn {
  position: absolute;
  width: 50%;
  height: 60px;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-btn.sign {
  left: 282px;
  top: -60px;
  color: grey;
  background: white;
  height: 38px;
  transition: 1s;
}
.form-btn.sign.after {
  left: 110px;
  top: -60px;
  color: grey;
  background: white;
  width: 100px;
  height: 38px;
  border-bottom: 1px solid;

}

button.form-btn.down-switch {
  right: 80px;
  bottom: 14px;
  border-radius: 30px;
  background-color: $green;
  color: $white;
}

input {
  border: 1px solid $input-border;
  background: $input-background;
  width: 85%;
  text-align: center;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 20px;
}

.signIn {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 1;
  transform: perspective(160px) translate3d(100px, 0px, -30px);
  opacity: 0.5;

}

.active-down-switch {
  animation-name: foregrounding-down-switch;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.active-switch {
  animation-name: foregrounding-switch;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-down-switch {
  animation-name: overshadowing-down-switch;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-switch {
  animation-name: overshadowing-switch;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes overshadowing-down-switch {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 $darkGrey;
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 $darkGrey;
  }
}

@keyframes overshadowing-switch {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 $darkGrey;
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 $darkGrey;
  }
}

@keyframes foregrounding-down-switch {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-switch {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.labels {
  display: flex;
}

.error {
  color: red;
}
