<form [formGroup]="profileForm" (ngSubmit)="save()">
  <div class="container">
    <div class="form-group">
      <label>Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" aria-describedby="name"
             placeholder="Enter first name">
      <small class="error" *ngIf="profileForm.controls[field.Name].invalid && (profileForm.controls[field.Name].touched || !!profileForm.controls[field.Name].value)">{{getErrorMessage(field.Name)}}</small>
      <br>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" id="surname" class="form-control" formControlName="surname" placeholder="Enter Surname">
      <small class="error" *ngIf="profileForm.controls[field.Surname].invalid && profileForm.controls[field.Surname].touched">{{getErrorMessage(field.Surname)}}</small>
      <br>
    </div>
    <div class="form-group">
      <label>Birthday</label>
      <div class="position-relative">
        <div class="placeholder" *ngIf="profileForm.controls[field.Birthday].invalid"
             (click)="dataInputClick(dataInput)"
             [ngClass]="{'disable':profileForm.controls[field.Name].invalid || profileForm.controls[field.Surname].invalid}">
          <small class="pl-2">{{profileForm.controls[field.Birthday].value || 'yyyy-MM-dd'}}</small></div>
        <input #dataInput [readOnly]="profileForm.controls[field.Name].invalid || profileForm.controls[field.Surname].invalid"
               type="date"
               class="form-control"
               formControlName="birthday"
               data-provide="datepicker"
               data-date-format="yyyy-mm-dd">
        <div class="placeholder"
             [hidden]="profileForm.controls[field.Birthday].invalid">{{profileForm.controls[field.Birthday].value}}</div>
      </div>
      <span class="error" *ngIf="profileForm.controls[field.Birthday].invalid
      && profileForm.controls[field.Birthday].touched">{{getErrorMessage(field.Birthday)}}</span>
      <br>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" formControlName="gender">
        <option value="" disabled> Select your gender</option>
        <option *ngFor="let gender of genderArray" [ngValue]="gender.value">{{gender.value}}</option>
      </select>
      <small class="error" *ngIf="profileForm.controls[field.Gender].invalid
      && profileForm.controls[field.Gender].touched">{{getErrorMessage(field.Gender)}}</small>
      <br>
    </div>
    <div class="form-group">
      <label>PhoneNumber</label>
      <input class="form-control" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
      <small class="error" *ngIf="profileForm.controls[field.PhoneNumber].invalid
      && profileForm.controls[field.PhoneNumber].touched">{{getErrorMessage(field.PhoneNumber)}}</small>
      <br>
    </div>
    <button type="submit" class="btn btn-danger m-1" [disabled]="profileForm.invalid">Submit</button>
  </div>
</form>
